<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="/dist/css/style.min.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Bad AppHole</title>
</head>
<body>


<header class="main-header">
    <div class="logo">
        <a href="#">LOGO</a>
    </div>

    <input type="checkbox" class="menu-btn" id="menu-btn">
    <label for="menu-btn" class="menu-icon">
        <span class="menu-icon__line"></span>
    </label>

    <ul class="nav-links">
        <li class="nav-link">
            <a href="#">Home</a>
        </li>
        <li class="nav-link">
            <a href="#">Showcase</a>
        </li>
        <li class="nav-link">
            <a href="#">About</a>
        </li>
        <li class="nav-link">
            <a href="#">Contact</a>
        </li>
    </ul>
</header>

<div class="hero">
    <h1 class="hero-text">Bad <br> App Hole!!!</h1>
</div>

<div class="container">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati totam reprehenderit alias accusantium repellat unde harum deleniti sunt at libero eos necessitatibus numquam, nisi facere asperiores odit rerum ipsum! Alias.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor iure ad molestiae ullam consequatur illum distinctio eligendi cumque facere, qui doloremque atque mollitia odio ex consectetur velit aut, debitis nisi!</p>
</div>

<!-- {% for item in site.data.navigation %}
      <a href="{{ item.link }}" {% if page.url == item.link %}style="color: rgba(10,28,45,1); font-family: Helvetica; text-shadow: 0px 0px 3px rgba(239, 249, 255, 0.986);"{% endif %}>
        {{ item.name }}
      </a>
    {% endfor %} -->

    <script src="../nav.js"></script>
</body>
</html>