.main-header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    background: rgba(100, 100, 100, 0.5);
    font-family: DIN, sans-serif;
    text-shadow: 1px 1px 2px black;
    height: 45px;
    width: 100vw;
    padding: 0 10vw;
    color: white;
    z-index: 1;
    transition: .3s ease-out;
  }
  
  .main-header a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
  }
  
  .main-header .nav-links {
    display: flex;
    list-style: none;
  }
  
  .main-header .nav-links .nav-link a {
    margin: .2rem;
    padding: 1rem .5rem;
  }
  
  .main-header .nav-links .nav-link a:hover {
    color: black;
    text-shadow: 0px 0px 5px white;
  }
  
  .main-header .menu-icon {
    position: relative;
    padding: 26px 10px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }
  
  .main-header .menu-icon__line {
    display: block;
    position: relative;
    background: black;
    height: 2px;
    width: 20px;
    border-radius: 4px;
    transition: background .8s ease;
  }
  
  .main-header .menu-icon__line::before, .main-header .menu-icon__line::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    background: black;
    transition: background .8s ease;
  }
  
  .main-header .menu-icon__line::before {
    transform: translateY(-5px);
  }
  
  .main-header .menu-icon__line::after {
    transform: translateY(5px);
  }
  
  .main-header .menu-btn {
    display: none;
  }
  
  .main-header.scrolled {
    height: 25px;
    background: rgba(150, 150, 150, 0.95);
    color: whitesmoke;
  }
  
  .main-header.scrolled .menu-icon__line, .main-header.scrolled .menu-icon__line::before, .main-header.scrolled .menu-icon__line::after {
    background: white;
  }